<div class="columns is-multiline is-centered" id="app">
  <div class="column is-3-desktop is-12-mobile">
    <div class="card frame-chat">
      <div class="card-content">
        <h2 class="tag is-light is-size-4 has-text-weight-bold">Salas</h2>
        <hr>
        <button class="button is-info is-medium" @click="modalActive = true">Crear sala</button>
        <hr>
        <div class="media" v-for="(room, index) of rooms" :key="`room_${index}`">
          <div class="media-left">
            <figure class="image is-48x48">
              <img class="is-rounded" :src="room.information.image || '/images/chat-room-default.svg'" :alt="room.information.image"/>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ room.name }}</p>
            <p class="subtitle is-6">{{ new Date(room.createdAt).toLocaleString() }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-9-desktop is-12-mobile">
    <div class="card frame-chat">
      <div class="card-content">
        <h2 class="tag is-link is-size-4 has-text-weight-bold">Chat</h2>

        <hr />

        <div class="frame-box">
          <!-- comentarios-->
          <div v-for="(message, index) in messages" :key="`message-${index}`">
            <span class="tag is-medium" :class="{'is-pulled-left is-success': (message.idUser == idUser), 'is-pulled-right is-info' :(message.idUser != idUser)}">{{ message.idUser }}: {{ message.text }}</span>
            <br>
            <br>
          </div>
        </div>

        <div class="field has-addons ">
          <div class="control is-expanded">
            <input class="input" v-model="text" type="text" placeholder="Escriba aquí" @keydown.enter="sendMessage"/>
          </div>
          <div class="control">
            <button type="button" class="button is-info" @click="sendMessage"> Enviar </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- MODAL -->
  <div class="modal" :class="{ 'is-active': modalActive }">
    <div class="modal-background" @click="modalActive = false"></div>
    <div class="modal-content">
      <div class="card">
        <div class="card-content">
          <form @submit.prevent="createRoom">
            <div class="field">
              <label for="" class="label">Nombre de la sala</label>
                <div class="control">
                  <input type="text" class="input" v-model="name">
                </div>
            </div>

            <div class="field">
              <label for="" class="label">Descripción</label>
                <div class="control">
                  <input type="text" class="input" v-model="description">
                </div>
            </div>

            <div class="field">
              <label for="" class="label">Imagen de la sala</label>
                <div class="control">
                  <input type="text" class="input" v-model="image">
                </div>
            </div>

            <div class="field">
              <label for="" class="label">Tema</label>
                <div class="control ">
                  <div class="select is-full">
                    <select v-model="topic">
                      <option value="random">Random</option>
                      <option value="magic">Magia</option>
                      <option value="games">Juegos</option>
                      <option value="code">Código</option>
                    </select>
                  </div>
                </div>
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-info" disabled="{ disableBtn }">Crear sala</button>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
    <button class="modal-close is-large" aria-label="close" @click="modalActive = false"></button>
  </div>

  <pre>
    {{ $data }}
  </pre>
</div>

