<div class="columns is-multiline is-centered" id="app">
  <div class="column is-3-desktop is-12-mobile">
    <div class="card frame-chat">
      <div class="card-content">
        <h2 class="tag is-success is-size-4 has-text-weight-bold">Salas</h2>
        <hr />
        <div class="media" v-for="(chat, index) of chats" :key="`chat_${index}`">
          <div class="media-left">
            <figure class="image is-48x48">
              <img class="is-rounded" :src="chat.image" alt="Sala image"/>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ chat.name }}</p>
            <p class="subtitle is-6">{{ chat.creacion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-9-desktop is-12-mobile">
    <div class="card frame-chat">
      <div class="card-content">
        <h2 class="tag is-success is-size-4 has-text-weight-bold">Chat</h2>

        <hr />

        <div class="frame-box">
          <!-- comentarios-->
          <div v-for="(message, index) in messages" :key="`message-${index}`">
            <span class="tag is-medium" :class="{'is-pulled-left is-success': (message.idUser == idUser), 'is-pulled-right is-info' :(message.idUser != idUser)}">{{ message.text }}</span>
            <br>
            <br>
          </div>
        </div>

        <div class="field has-addons ">
          <div class="control is-expanded">
            <input class="input" v-model="text" type="text" placeholder="Escriba aquí" />
          </div>
          <div class="control">
            <a class="button is-info"> Enviar </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <pre>
    {{ $data }}
  </pre>
</div>

